* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

nav {
  /* border: 1px solid black; */
  padding: 10px 0;
  height: 60px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.nav {
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  font-size: 20px;
}
.nav h2 {
  cursor: pointer;
}
.nav-items {
  display: flex;
  gap: 50px;
}
.home-page {
  max-width: 1400px;
  margin: auto;
  padding: 100px 0;
}
.home-page h1 {
  /* line-height: 50px; */
  font-size: 100px;
}

.home-page p {
  font-size: 60px;
}

.products {
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
}

.product-card {
  width: 400px;
  /* border: 1px solid red; */
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  overflow: hidden;
}
.product-img {
  /* height: 400px; */
  object-fit: cover;
  object-position: center;
  height: 300px;
}
.product-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.signup {
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
}
.login {
  max-width: 1400px;
  margin: auto;
  padding: 50px 0;
}
